* resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* reset default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd,
picture {
  margin: 0;
}

/* resetting body */

body {
    line-height: 1.5;
    min-height: 100vh;
}

img,
picture {
    max-width: 100%;
    display: block;
}


/* define color variable */

:root {
    --my-white-color: White: hsl(0, 0%, 100%);
    --my-lgray-color: hsl(212, 45%, 89%);
    --my-grayish-blue: hsl(220, 15%, 55%);
    --my-dark-blue: hsl(218, 44%, 22%);
    --default-gap: 1rem;
}


/* Utility classes */

.flex {
    display: flex;
}

.grid {
    display: grid;
}

/* Custom classes */

.main_container {
    background-color: var(--my-lgray-color);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem
}

.qr_box {
    flex-direction: column;
    border-radius: 1rem;
    background-color: white;
    width: 25rem;
    height: 35rem;
    gap: 2rem;
}

.qr_code_container {
    background: url("./images/image-qr-code.png") no-repeat center;
    background-size: cover;
    border-radius: 1rem;
    margin-inline: auto;
    margin-top: 1.5rem;
    width: 20rem;
    height: 20rem;
}

.improve_txt_container {
    height: 7rem;
    width: 19rem;
    padding-inline: 2rem;
    margin-inline: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--my-dark-blue);
}

.improve_txt_container h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 16;
}

.visit_msg {
    text-align: center;
    margin-bottom: 2rem;
    width: 15rem;
    height: 6rem;
    color: var(--my-grayish-blue);
    padding-inline: 1rem;
    margin-inline: auto;
    align-items: center;
    justify-items: center;
}

.visit_msg p{
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

.attribution {
    font-size: 11px; 
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
